*{
    box-sizing: border-box;
}
body{
    font-size: 14px;
    font-family: "Speedee",arial,helvetica,sans-serif;
}

/*encabezado*/

.contenedor{
    border: 2px red solid;
    margin-bottom: 20px;
}
.caja{
    border: 2px orange solid;
    padding: 5px;
    margin: 5px;
    text-align: center;
}
.cajon{
    border: 2px yellow solid;
    padding: 0px;
}
.logo{
    width: 100%;
    padding: 5px;
}
.menu{
    padding-top: 5%;
}
.link{
    color: #464545;
    text-decoration: none;
}
.aire{
    padding-top: 16px;
}
.boton{
    border: 1px solid #ffc400;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #ffc400;
    color: #464545;
    text-decoration: none;
    border-radius: 5px;
}

/*imagen*/

.contenedor1{
    border: 2px red solid;
}
.helado{
    width: 100%;
}

/*contenido principal*/

.cajabody{
    border: 2px red solid;
    margin-top: 5%;
    text-align: center;
}
.cajon1{
    border: 4px rgb(212, 212, 212) solid;
    border-radius: 10px;
    padding: 0px;
}
.foto{
    width: 100%;
}
.texto{
    border: 2px yellow solid;
    padding: 10px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
}
.baul{
    border: 2px yellow solid;
    padding: 20px;
    margin: 20px;
}

/*contenido principal parte 2*/

.cajabody1{
    border: 2px red solid;
    background: #ffc400;
    margin-top: 5%;
}
.caja1{
    border: 2px rgb(117, 64, 3) solid;
    padding: 5px;
    margin: 5px;
}
.rojo{
    width: 100%;
    padding: 20px;
}
.boton2{
    border: 1px solid #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #ffffff;
    color: #464545;
    text-decoration: none;
    border-radius: 5px;
}
.texto1{
    text-align: center;
}
.aire1{
    padding-top: 70px;
}

/*contenido principal parte 3*/
.redes{
    width: 18%;
    padding: 10px;
}
.play{
    height: 50px;
    padding: 5px;
}

/*Pie de pagina*/
.finali{
    width: 10px;
}
.menu2{
    padding: 5px;
}